:root {
  --base-color-gray-100: #F3F4F6;
  --base-color-gray-200: #E5E7EB;
  --base-color-gray-300: #D1D5DB;
  --base-color-gray-400: #9CA3AF;
  --base-color-gray-500: #6B7280;
  --base-color-gray-600: #4B5563;
  --base-color-gray-700: #374151;
  --base-color-gray-800: #1F2937;
  --base-color-gray-900: #111827;
  --base-color-yellow-100: #FEF9C3;
  --base-color-yellow-200: #FEF08A;
  --base-color-yellow-300: #FDE047;
  --base-color-yellow-400: #FACC15;
  --base-color-yellow-500: #EAB308;
  --base-color-yellow-600: #CA8A04;
  --base-color-yellow-700: #A16207;
  --base-color-yellow-800: #854D0E;
  --base-color-yellow-900: #713F12;
  --base-color-red-100: #FEE2E2;
  --base-color-red-200: #FECACA;
  --base-color-red-300: #FCA5A5;
  --base-color-red-400: #F87171;
  --base-color-red-500: #EF4444;
  --base-color-red-600: #DC2626;
  --base-color-red-700: #B91C1C;
  --base-color-red-800: #991B1B;
  --base-color-red-900: #7F1D1D;
  --base-color-sky-100: #E0F2FE;
  --base-color-sky-200: #BAE6FD;
  --base-color-sky-300: #7DD3FC;
  --base-color-sky-400: #38BDF8;
  --base-color-sky-500: #0EA5E9;
  --base-color-sky-600: #0284C7;
  --base-color-sky-700: #0369A1;
  --base-color-sky-800: #075985;
  --base-color-sky-900: #0C4A6E;
  --base-color-normal-100: #CDCDA8;
  --base-color-normal-200: #A8A878;
  --base-color-normal-300: #818163;
  --base-color-fire-100: #F6A66C;
  --base-color-fire-200: #F08030;
  --base-color-fire-300: #CB641D;
  --base-color-fighting-100: #E9625A;
  --base-color-fighting-200: #C03028;
  --base-color-fighting-300: #7D1F1A;
  --base-color-water-100: #98B6FF;
  --base-color-water-200: #6890F0;
  --base-color-water-300: #445E9C;
  --base-color-flying-100: #C2B1F6;
  --base-color-flying-200: #A890F0;
  --base-color-flying-300: #6D5E9C;
  --base-color-grass-100: #92E469;
  --base-color-grass-200: #78C850;
  --base-color-grass-300: #4E8234;
  --base-color-poison-100: #C080C0;
  --base-color-poison-200: #A040A0;
  --base-color-poison-300: #682A68;
  --base-color-electric-100: #F8E084;
  --base-color-electric-200: #F8D030;
  --base-color-electric-300: #BD9E21;
  --base-color-ground-100: #F8DD95;
  --base-color-ground-200: #E0C068;
  --base-color-ground-300: #927D44;
  --base-color-psychic-100: #F488A9;
  --base-color-psychic-200: #F85888;
  --base-color-psychic-300: #A23B5B;
  --base-color-rock-100: #DCC873;
  --base-color-rock-200: #B8A038;
  --base-color-rock-300: #796824;
  --base-color-ice-100: #B7F3F3;
  --base-color-ice-200: #98D8D8;
  --base-color-ice-300: #41A8A8;
  --base-color-bug-100: #CFDF46;
  --base-color-bug-200: #A8B820;
  --base-color-bug-300: #6D7815;
  --base-color-dragon-100: #B8A0F8;
  --base-color-dragon-200: #7038F8;
  --base-color-dragon-300: #483890;
  --base-color-ghost-100: #9D84C7;
  --base-color-ghost-200: #705898;
  --base-color-ghost-300: #493964;
  --base-color-dark-100: #967F6F;
  --base-color-dark-200: #705848;
  --base-color-dark-300: #49392F;
  --base-color-steel-100: #DCDCF0;
  --base-color-steel-200: #B8B8D0;
  --base-color-steel-300: #787887;
  --base-color-fairy-100: #FFD9DD;
  --base-color-fairy-200: #F0B6BC;
  --base-color-fairy-300: #D87881;
}