:root {
  --shadow-light-base: var(--shadow-spacing-base-2) var(--shadow-spacing-base-2) 0 var(--base-color-gray-400);
  --shadow-light-large: var(--shadow-spacing-large-1) var(--shadow-spacing-large-1) 0 var(--base-color-gray-400);
  --shadow-light-xlarge: var(--shadow-spacing-xlarge-1) calc(-1 * var(--shadow-spacing-xlarge-1)) 0 var(--base-color-gray-400);
  
  --shadow-bold-base: calc(-1 * var(--shadow-spacing-base-1)) calc(-1 * var(--shadow-spacing-base-1)) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-base-1)) var(--shadow-spacing-base-1) 0 var(--base-color-gray-800),
  var(--shadow-spacing-base-1) var(--shadow-spacing-base-1) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-base-0)) calc(-1 * var(--shadow-spacing-base-1)) 0 var(--base-color-gray-800),
  var(--shadow-spacing-base-0) calc(-1 * var(--shadow-spacing-base-1)) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-base-0)) var(--shadow-spacing-base-1) 0 var(--base-color-gray-800),
  var(--shadow-spacing-base-0) var(--shadow-spacing-base-1) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-base-1)) calc(-1 * var(--shadow-spacing-base-0)) 0 var(--base-color-gray-800),
  var(--shadow-spacing-base-1) calc(-1 * var(--shadow-spacing-base-0)) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-base-1)) var(--shadow-spacing-base-0) 0 var(--base-color-gray-800),
  var(--shadow-spacing-base-1) var(--shadow-spacing-base-0) 0 var(--base-color-gray-800),
  var(--shadow-spacing-base-0) var(--shadow-spacing-base-3) 0 var(--base-color-gray-800),
  var(--shadow-spacing-base-1) var(--shadow-spacing-base-3) 0 var(--base-color-gray-800),
  var(--shadow-spacing-base-2) var(--shadow-spacing-base-3) 0 var(--base-color-gray-800),
  var(--shadow-spacing-base-3) var(--shadow-spacing-base-3) 0 var(--base-color-gray-800),
  var(--shadow-spacing-base-3) var(--shadow-spacing-base-2) 0 var(--base-color-gray-800),
  var(--shadow-spacing-base-3) var(--shadow-spacing-base-1) 0 var(--base-color-gray-800),
  var(--shadow-spacing-base-3) var(--shadow-spacing-base-0) 0 var(--base-color-gray-800);

  --shadow-bold-large: calc(-1 * var(--shadow-spacing-large-1)) calc(-1 * var(--shadow-spacing-large-1)) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-1) calc(-1 * var(--shadow-spacing-large-1)) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-large-1)) var(--shadow-spacing-large-1) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-1) var(--shadow-spacing-large-1) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-large-0)) calc(-1 * var(--shadow-spacing-large-1)) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-0) calc(-1 * var(--shadow-spacing-large-1)) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-large-0)) var(--shadow-spacing-large-1) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-0) var(--shadow-spacing-large-1) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-large-1)) calc(-1 * var(--shadow-spacing-large-0)) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-1) calc(-1 * var(--shadow-spacing-large-0)) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-large-1)) var(--shadow-spacing-large-0) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-1) var(--shadow-spacing-large-0) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-0) var(--shadow-spacing-large-3) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-1) var(--shadow-spacing-large-3) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-2) var(--shadow-spacing-large-3) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-3) var(--shadow-spacing-large-3) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-3) var(--shadow-spacing-large-2) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-3) var(--shadow-spacing-large-1) 0 var(--base-color-gray-800),
  var(--shadow-spacing-large-3) var(--shadow-spacing-large-0) 0 var(--base-color-gray-800);

  --shadow-bold-xlarge: calc(-1 * var(--shadow-spacing-xlarge-1)) calc(-1 * var(--shadow-spacing-xlarge-1)) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-1) calc(-1 * var(--shadow-spacing-xlarge-1)) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-xlarge-1)) var(--shadow-spacing-xlarge-1) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-1) var(--shadow-spacing-xlarge-1) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-xlarge-0)) calc(-1 * var(--shadow-spacing-xlarge-1)) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-0) calc(-1 * var(--shadow-spacing-xlarge-1)) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-xlarge-0)) var(--shadow-spacing-xlarge-1) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-0) var(--shadow-spacing-xlarge-1) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-xlarge-1)) calc(-1 * var(--shadow-spacing-xlarge-0)) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-1) calc(-1 * var(--shadow-spacing-xlarge-0)) 0 var(--base-color-gray-800),
  calc(-1 * var(--shadow-spacing-xlarge-1)) var(--shadow-spacing-xlarge-0) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-1) var(--shadow-spacing-xlarge-0) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-0) var(--shadow-spacing-xlarge-3) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-1) var(--shadow-spacing-xlarge-3) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-2) var(--shadow-spacing-xlarge-3) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-3) var(--shadow-spacing-xlarge-3) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-3) var(--shadow-spacing-xlarge-2) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-3) var(--shadow-spacing-xlarge-1) 0 var(--base-color-gray-800),
  var(--shadow-spacing-xlarge-3) var(--shadow-spacing-xlarge-0) 0 var(--base-color-gray-800);
}