.Container {
  background-image: url(/static/pokemon-group.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.Centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.A {
  text-decoration: underline;
}

.Footer {
  position: absolute;
  bottom: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}